* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.quiz-container {
  width: 100%;
  max-width: 1250px;
  background: #fff;
  border-radius: 18px;
  padding: 35px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 10px;
}

.header p {
  color: #666;
  line-height: 1.6;
}

.progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: #666;
  font-size: 15px;
}

.progress-bar {
  width: 70%;
  height: 8px;
  background: #e5e7eb;
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill {
  width: 20%;
  height: 100%;
  background: #667eea;
}

.question-card {
  background: #f8f9ff;
  border-left: 5px solid #667eea;
  border-radius: 12px;
  padding: 22px;
  margin-bottom: 25px;
}

.question-card h2 {
  color: #333;
  font-size: 22px;
  line-height: 1.5;
}
.question-card span {
  color: red;
  font-size: 22px;
  line-height: 1.5;
}

.options {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}

.option {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 18px;
  border: 2px solid #ddd;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  border-color: #667eea;
  background: #eef1ff;
}

.option input {
  transform: scale(1.2);
  accent-color: #667eea;
}

.option span {
  color: #333;
  font-size: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.next-btn {
  border: none;
  background: #667eea;
  color: #fff;
  padding: 14px 28px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.next-btn:hover {
  background: #5368d5;
  transform: translateY(-2px);
}

footer {
  margin-top: 25px;
  text-align: center;
  color: #888;
  font-size: 14px;
}
.result {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.result-card {
  width: 100%;
  padding: 2rem;
  text-align: center;
  border-radius: 16px;
  background: #fff;
}

.result-card h1 {
  margin-bottom: 1rem;
}

.score {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.percentage,
.high-score {
  color: #666;
  margin: 0.5rem 0;
}

#restartBtn {
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
}

#restartBtn:hover {
  transform: translateY(-2px);
  background: #4338ca;
}

@media (max-width: 600px) {
  .quiz-container {
    padding: 25px;
  }

  .question-card h2 {
    font-size: 19px;
  }

  .option {
    padding: 15px;
  }
}
